body {
  overflow: hidden;
  line-height: 1;
  height: 100vh;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1501785888041-af3ef285b470?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
}

@media only screen and (min-width: 760px) {
  body {
    min-width: 780px;
  }

  .wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 780px;
    overflow: hidden;
  }

  .container_1,
  .container_2,
  .container_3,
  .container_4,
  .container_6,
  .container_7,
  .container_8,
  .container_9,
  .container_10,
  .container_11,
  .container_12 {
    display: flex;
    float: left;
    position: relative;
    margin-left: 7.5px;
    margin-right: 7.5px;
  }

  .wrapper .container_1 {
    width: 50px;
  }

  .wrapper .container_2 {
    width: 115px;
  }

  .wrapper .container_3 {
    width: 180px;
  }

  .wrapper .container_4 {
    width: 245px;
  }

  .wrapper .container_5 {
    width: 310px;
  }

  .wrapper .container_6 {
    width: 375px;
  }

  .wrapper .container_7 {
    width: 440px;
  }

  .wrapper .container_8 {
    width: 505px;
  }

  .wrapper .container_9 {
    width: 570px;
  }

  .wrapper .container_10 {
    width: 635px;
  }

  .wrapper .container_11 {
    width: 700px;
  }

  .wrapper .container_12 {
    width: 765px;
  }
}

@media only screen and (min-width: 950px) {
  body {
    min-width: 960px;
  }

  .wrapper {
    width: 960px;
  }

  .wrapper .container_1 {
    width: 65px;
  }

  .wrapper .container_2 {
    width: 145px;
  }

  .wrapper .container_3 {
    width: 225px;
  }

  .wrapper .container_4 {
    width: 305px;
  }

  .wrapper .container_5 {
    width: 385px;
  }

  .wrapper .container_6 {
    width: 465px;
  }

  .wrapper .container_7 {
    width: 545px;
  }

  .wrapper .container_8 {
    width: 625px;
  }

  .wrapper .container_9 {
    width: 705px;
  }

  .wrapper .container_10 {
    width: 785px;
  }

  .wrapper .container_11 {
    width: 865px;
  }

  .wrapper .container_12 {
    width: 945px;
  }
}

@media only screen and (min-width: 1140px) {
  body {
    min-width: 1140px;
  }

  .wrapper {
    width: 1140px;
  }

  .container_1,
  .container_2,
  .container_3,
  .container_4,
  .container_6,
  .container_7,
  .container_8,
  .container_9,
  .container_10,
  .container_11,
  .container_12 {
    display: flex;
    float: left;
    position: relative;
    margin-left: 7.5px;
    margin-right: 7.5px;
  }

  .wrapper .container_1 {
    width: 80px;
  }

  .wrapper .container_2 {
    width: 175px;
  }

  .wrapper .container_3 {
    width: 270px;
  }

  .wrapper .container_4 {
    width: 365px;
  }

  .wrapper .container_5 {
    width: 460px;
  }

  .wrapper .container_6 {
    width: 555px;
  }

  .wrapper .container_7 {
    width: 650px;
  }

  .wrapper .container_8 {
    width: 745px;
  }

  .wrapper .container_9 {
    width: 840px;
  }

  .wrapper .container_10 {
    width: 935px;
  }

  .wrapper .container_11 {
    width: 1030px;
  }

  .wrapper .container_12 {
    width: 1125px;
  }
}
