@import "reset";
@import "global";
@import "grid";



.main {
  height: 100vh;
  background-color: grey;
}

.overlay {
  position: absolute;
  z-index: 2;
  top: 0;
  height: 100%;
}

.column {
  height: 100vh;
  background-color: rgba(127, 255, 212, 0.39);
}

.section {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
 
  margin-bottom: 15px;
}

.header {
  background-color: green;  
  height: 10vh;
  color: white;
}

.sidebar {
  background-color: blue;
  height: calc(100% - 30px);
  color: white;
}

.main-content {
  background-color: red;
  color: white;
  height: calc(100% - 30px);
}

.aside {
  background-color: yellow;
  color: black;
  height: calc(50% - 23px);
}

.footer {
  background-color: orangered;
  color: black;
  height: 10vh;
  margin-bottom: 0;
}

.main-container {
  height: 80vh;
  
}
